#home_head{
    display: grid;
    grid-template-columns: 3.5rem auto 3.5rem;
    height: 3rem;
    position: fixed;
    top:0px;
    left: 0px;
    width:100%;
    background-color: rgba(223, 223, 223, 0.27);
}
#home_h1{
    display: grid;
    grid-template-columns: auto 9rem auto;
}

.handle{
        -webkit-app-region: drag;
        -webkit-user-select: none;
}
